
name: CI
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 * * * *'


jobs:
  dataPush:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - shell: bash
        run: |
          webhook_url=${{ secrets.WEBHOOK_URL }}
          api=$(curl https://coronavirus-tracker-api.herokuapp.com/v2/latest)
          deaths=$(echo $api | jq .latest.deaths)
          confirmed=$(echo $api | jq .latest.confirmed)

          message="Deaths:\t$deaths\nConfirmed:\t$confirmed"

          data="{\"content\":\"$message\"}"
          curl \
            -H "Content-Type: application/json" \
            -d $data \
            $webhook_url

